
  <br>
  <br>
  	<div id="tArea">

    <textarea class="col-5" id="demo" rows= "7"   >Click button to see Sources

</textarea>
<br>
<button class="btn btn-danger" onclick="myFunction()">Click me to see Sources</button>
<br>
<br>
</br>
<p>What is Coding?</p>
   <iframe id="space" width="420" height="315"
src="https://www.youtube.com/embed/cKhVupvyhKk">
</iframe>

</div>
<button class="btn btn-dark" onclick="myFunction2()">Background Theatre Mode</button>

<script>
function myFunction() {
  document.getElementById("demo").innerHTML = "getbootstrap.com/docs/4.3/components, /https://www.youtube.com/embed/cKhVupvyhKk,   https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwiCxoLXzeTgAhUNRKwKHRAkCPwQjRx6BAgBEAU&url=https%3A%2F%2Fwww.gettingsmart.com%2F2017%2F12%2Fsmart-list-coding-computer-science-assessment-data-resources-3%2F&psig=AOvVaw3EC4YjeJxRuix1A_qwEGUN&ust=1551655566821351,   https://medium.com/@eraylson_/the-hello-world-in-data-science-and-machine-learning-32b85946eb67";

}

function myFunction2() {
  document.body.style.backgroundColor="black";
}
</script>