
<div class="formatter">
<p>Please fill out contact information.<p>
<form action="http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php" method="get">
  <div class="form-group" >
    <label for="name">Name</label>
    <input type="name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter Name">
    
  </div>
  <div class="form-group " >
    <label for="exampleInputPassword1" >Email</label>
    <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Enter Email" >
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<br>

<button class="btn btn-primary" onclick="document.getElementById('link').click()">Download Resume</button>
<a id="link" href="code.jpeg" download hidden></a>
<br>
</br>




	<style type="text/css">
		.form-control{
			width: 55%;
		}
	</style>

