
<div class="formatter">
	<h5>Education</h5>
	<div class="entireRow">
<span class="school">Oregon State University</span>
<span class="degree">BS Computer Science - Prospective Graduate
</div>



<div class="entireRow">
<span class="school" > University of Southern California</span> 
<span class="degree" >MS Biomedical Engineering - December 2013</span>
</div>


<div class="entireRow">
<span class="school" > University of California Irvine</span> 
<span class="degree">BS Biology - September 2011</span>
</div>
<br>

<h5>Experience</h5>
<span class="school">Engineer</span>
<span class="degree">	April 2016</span>
<br></br>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<h5>	Skills:</h5>

	<span id="list1">
<ul>
	<li>Typing</li>
	<li>Eating</li>
	<li>Watching Movies</li>
	<li>Not Working</li>
</ul>

	</span>	

<span id="list">
<ul>
	<li>Sleeping</li>
	<li>Making Lists</li>
</ul>

</span>

<span>

<div id="cbottom">
		<button class="btn btn-primary" onclick="document.getElementById('link').click()">Download Resume</button>
<a id="link" href="RESUME290.docx" download hidden></a>
<br>
<br>
	<button class="btn btn-success" onclick="document.getElementById('linkedin').click()">LinkedIn</button>
	<a id="linkedin" href="http://www.linkedin.com/in/daniel-t-75240436" hidden></a>
	<br>
	</br>
	<button class="btn btn-success" onclick="document.getElementById('git').click()">GitHub</button>
	<a id="git" href="https://github.com/tonthdan/CS-290-Example" hidden></a>

</div>
</span>

<!-- <script type="text/javascript">
	document.getElementsByClassName("school")[0].style.color  = 'green'


</script> -->